@media (min-width: 768px) {
  .faq_home {
    background-color: #eee;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
